@page
@model Vidhyalaya.Pages_Students.DetailsModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Dob)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Dob)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Photo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Photo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.EndDate)
        </dd>
        <!--Auto fill end date input field-->
        <input type="date" asp-for="Student.EndDate" class="form-control"value="@DateTime.Today.ToString("yyyy-MM-dd")" />
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.IsActive)
        </dt>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Student.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
</body>
</html>
