@page
@model Vidhyalaya.Pages_Guardians.IndexModel

<h2>Guardian Details</h2>
<a href="/guardians/create"class="btn btn-success"><i class="bi bi-plus-lg"></i>Add Grade</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Guardian[0].FatherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guardian[0].MotherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guardian[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guardian[0].Contact)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Guardian[0].Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Guardian) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FatherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Id)
            </td><br>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="bi bi-pen"></i>Edit</a> 
                <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-success"><i class="bi bi-eye-fill"></i>Details</a> 
                <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="bi bi-trash-02"></i>Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

